html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: monospace;
  color: #fff;
  background: #000;
}

/* --- Navigace --- */
nav {
  position: fixed;
  top: 0;
  width: 100%;
  background: #000c;
  padding: 10px;
  text-align: center;
  z-index: 1000;
}
nav a {
  color: #f5d76e;
  margin: 0 15px;
  text-decoration: none;
}

/* --- Sekce --- */
.section {
  min-height: 100vh;
  padding-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}

/* Paralax efekt pouze pro pozadí */
.bg-home, .bg-portfolio, .bg-skills {
  background-attachment: fixed;
}

.bg-home {
  background-image: url('img/0_1B.jpg');
}

.bg-portfolio {
  background-image: url('img/0_22.jpg');
}

.bg-skills {
  background-image: url('img/0_0.jpg');
}

.bg-contact {
  background-image: url('img/bg_contact.png');
  background-attachment: scroll !important;
}

/* --- Mrak --- */
.cloud {
  position: absolute;
  top: 20%;
  left: 0;

  width: clamp(250px, 40vw, 600px);
  height: auto;

  animation: moveCloud 120s linear infinite;
  image-rendering: pixelated;
  pointer-events: none;
  z-index: 1;
  filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.5));
}


@keyframes moveCloud {
  0% {
    transform: translateX(-10vw);
  }
  100% {
    transform: translateX(130vw);
  }
}


/* --- Panely --- */
.panel {
  background: #000a;
  border: 4px solid #3fa9f5;
  padding: 30px;
  max-width: 900px;
  z-index: 2;
  position: relative;
  margin: 20px;
}

/* --- Contact --- */
.contact-layout {
  display: flex;
  align-items: center;      /* vertikální zarovnání */
  gap: 20px;                /* mezera mezi obrázkem a textem */
}

.contact-layout img {
  width: 150px;              /* uprav dle potřeby */
  height: auto;
}

.contact-text h2 {
  margin-top: 0;
}

/* --- Projekty --- */
.project {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  align-items: center;
}
.project img {
  width: 200px;
  height: 150px;
  object-fit: cover;
  image-rendering: pixelated;
  border: 4px solid #3fa9f5;
}
.project .text {
  max-width: 500px;
}
.project a {
  color: #f5d76e;
  text-decoration: none;
  border: 2px solid #f5d76e;
  padding: 5px 15px;
  display: inline-block;
  margin-top: 10px;
}

/* --- Responzivita --- */
@media (max-width: 768px) {
  .
 {
    width: 100px;
    top: 15%;
    animation-duration: 80s;
  }
  
  .project {
    flex-direction: column;
    text-align: center;
  }
  
  .project img {
    width: 180px;
    height: 135px;
  }
  
  nav a {
    margin: 0 10px;
    font-size: 30px;
  }
}



/* --- Hover efekty --- */
nav a:hover {
  color: #fff;
  text-shadow: 0 0 8px #f5d76e;
}

.project a:hover {
  background: #f5d76e;
  color: #000;
}

h1, h2, h3 {
  color: #f5d76e;
  margin-top: 0;
}